%section.info

  %h1= "Filters for FFmpeg #{release.version}"

  %article
    :erb
      This is an alternative presentation of the
      <a href="https://ffmpeg.org/ffmpeg-filters.html">official documentation</a>
      for filters in
      <%= link_to commit_url(release.commit_hash), "FFmpeg #{release.version}" %>.

    %p
      It aims to be easier to read and easier to navigate.

    %p
      :erb
        FFmpeg <%= release.version %> was released on
        <time><%= release.commit_date.strftime("%F") %></time>
        (<%= link_to_file([ :changelog, release ], "changes") %>).

  != readme_info
